@model ecommerce_shop.Models.SanPham
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .container-detail {
            max-width: 75%;
            margin: auto;
            height: 80vh;
            margin-top: 5%;
            background: white;
            box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
        }

        .left, .right {
            width: 50%;
            padding: 30px;
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

      

        .main_image {
            width: auto;
            height: auto;
         }

        .option img {
            width: 75px;
            height: 75px;
            padding: 10px;
        }

        .right {
            padding: 50px 100px 50px 50px;
        }

        h3 {
            color: #af827d;
        }

        h4 {
            color: red;
        }

        h5 {
            font-size: 15px;
        }

        label,
        .add span,
        .color span {
            width: 25px;
            height: 25px;
            background: #000;
            border-radius: 50%;
            margin: 20px 10px 20px 0;
        }

            .color span:nth-child(2) {
                background: #EDEDED;
            }

            .color span:nth-child(3) {
                background: #D5D6D8;
            }

            .color span:nth-child(4) {
                background: #EFE0DE;
            }

            .color span:nth-child(5) {
                background: #AB8ED1;
            }

            .color span:nth-child(6) {
                background: #F04D44;
            }

        .add label,
        .add span {
            background: none;
            border: 1px solid #C1908B;
            color: #C1908B;
            text-align: center;
            line-height: 25px;
        }

        .add label {
            padding: 10px 30px 0 20px;
            border-radius: 50px;
            line-height: 0;
        }

        .btn-detail {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            background: #C1908B;
            color: white;
            margin-top: 20%;
            border-radius: 30px;
        }
        .prodetail-buy {
            display: flex;
            padding-top: 50px;
        }

            .prodetail-buy a {
                text-decoration: none;
            }

        .add-card {
            color: white;
            text-decoration: none;
            color: white;
            background-color: #C1908B;
            border-radius: 20px 0;
            border: 1px solid black;
            padding: 1em 30px;
            transition: all 0.4s;
        }

            .add-card:hover {
                transform: scale(1.1);
                color: black;
                background-color: white;
            }

        .add-buy {
            color: black;
            background-color: white;
            border-radius: 0 20px;
            border: 1px solid black;
            margin-left: 30px;
            padding: 1em 30px;
            transition: all 0.4s;
        }

            .add-buy:hover {
                transform: scale(1.1);
                color: white;
                background-color: #C1908B;
            }
    </style>
</head>
<body>
        <section>
            <div class="container-detail flex">
                <div class="left">
                    <div class="main_image">

                        <img src="@Url.Content(Model.HinhAnh)" style="width:500px; height:475px; " />

                    </div>
                </div>
                <div class="right">
                    <h3>@Html.DisplayFor(model => model.TenSanPham)</h3>
                    <br />
                    <h4> <small>$</small>@Html.DisplayFor(model => model.GiaBan),000k</h4>
                    <br />
                    
                    <h5>MÔ TẢ SẢN PHẨM</h5>
                    <p>
                        @Model.GhiChu
                    </p>
                    <p>@Html.DisplayFor(model => model.GhiChu)</p>
                    <br />
                    <h5>số lượng : @Html.DisplayFor(model => model.SoLuong)</h5>

                    <div class="prodetail-buy">
                        <a class="add-card" id="addToCartLink" href="/ShoppingCart/AddToCart/@Model.ID">THÊM VÀO GIỎ HÀNG</a>
                        <a class="add-buy" href="/ShoppingCart/AddToCart/@Model.ID">MUA HÀNG</a>
                    </div>
                </div>
            </div>
        </section>

    

</body>
</html>
