@model ecommerce_shop.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <script src="js/script.js" type="text/javascript"></script>

</head>
<body>
    @if (Model != null)
    {
        <section class="section-content padding-y">
            <div class="container">
                <div class="row">
                    <main class="col-md-9">
                        <div class="card">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Tên Sản Phẩm</th>
                                        <th scope="col" width="120">Số lượng</th>
                                        <th scope="col" width="120">Giá</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        int total = item._sanpham.GiaBan * item._quantity;
                                        <tr>
                                            <td>
                                                <figure class="itemside">
                                                    <div class="aside"><img src="@Url.Content(item._sanpham.HinhAnh)" class="img-sm"></div>
                                                    <figcaption class="info">
                                                        <a href="#" class="title text-dark">@item._sanpham.TenSanPham</a>
                                                        <p class="text-muted small">xx <br> Brand: Coconut</p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                                            {
                                                <td>

                                                    <input type="hidden" value="@item._sanpham.ID" name="ID_SanPham" />
                                                    <input type="number" value="@item._quantity" name="Quantity" />
                                                

                                                    
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price">@total k</var>
                                                        <small class="text-muted">@Html.DisplayFor(model => item._sanpham.GiaBan)k/1</small>
                                                    </div> <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right">
                                                    <a class="btn btn-light"> <input type="submit" value="Update Quantity"></a>
                                                    <a href="/ShoppingCart/RemoveCart/@item._sanpham.ID" class="btn btn-light">Xóa</a>

                                                </td>
                                            }
                                            </tr>
                                    }
                        
                                </tbody>
                            </table>

                            <div class="card-body border-top">                           
                                <a href="/ShoppingCart/ReCheckOut" class="btn btn-primary float-md-right"> Đặt hàng <i class="fa fa-chevron-right"></i> </a>
                                <a href="~/Home/ThoiTrang" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua </a>
                            </div>
                        </div> <!-- card.// -->

                        <div class="alert alert-success mt-3">
                            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Vận chuyển miễn phí nội thành</p>
                        </div>

                    </main> <!-- col.// -->
                    <aside class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Have coupon?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Apply</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div>  <!-- card .// -->
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">@Model.Total_Money()</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Discount:</dt>
                                    <dd class="text-right"></dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Total:</dt>
                                    <dd class="text-right  h5"><strong>$1,650</strong></dd>
                                </dl>
                                <hr>
                                <p class="text-center mb-3">
                                   
                                    <img src="~/Content/images/payments.png" />
                                </p>

                            </div> <!-- card-body.// -->
                        </div>  <!-- card .// -->
                    </aside> <!-- col.// -->
                </div>

            </div> <!-- container .//  -->
        </section>
    }
    else
            {
                @Html.Partial("EmptyCart")
            }



</body>
</html>
